<div class="row mt-3">
    <!-- Title -->
    <div class="col-md-12 text-center">
        <h1>Data Kontak</h1>
    </div>
    
    <!-- Text Area For Showing Information -->
    <div class="col-md-12">
        
    </div>
</div>